@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-nav-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    list-style: none;
}

.nav-li-item>a {
    text-decoration: none;
    color: #575756;
    font-weight: bold;
    text-transform: uppercase;
}

.beats-landing-main {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    margin: 0 auto;
}

.beats-img {
    position: relative;
}

.beats-img>img {
    max-width: 500px;
    position: absolute;
    right: -85px;
    top: 0;
}