@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    justify-content: space-around;
    background-color: #1b446b;
    padding: 4px 0;
}

.header-apply {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-apply>img {
    max-width: 200px;
}

.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-list>.nav-li-item>a {
    color: #8da1b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.button-yellow {
    background-color: #ffa000;
    color: #ffffcf;
    border: none;
    border-radius: 25px;
    padding: 4px 16px;
    font-weight: bold;
    cursor: pointer;
}

.courses {
    display: flex;
    width: 65%;
    gap: 2rem;
    font-size: 14px;
    margin: 0 auto;
}

.courses-title-yellow {
    color: #ffa000;
    font-weight: normal;
    padding: 12px 0;
    margin: 0;
}

.courses-title-blue {
    color: #1b446b;
    padding: 12px 0;
    margin: 0;
    border-bottom: 2px solid #1b446b;
}

.wordpess-data {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffcf;
    background-color: #1b446b;
    opacity: 0.5;
    padding: 20px;
}

.wordpress-title {
    font-size: 35px;
    margin: 0;
}

.wordpress-data-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
}

.button-yellow.big {
    padding: 4px 70px;
}