@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    justify-content: space-around;
    background-color: #1b446b;
    padding: 4px 0;
}

.header-apply {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-apply>img {
    max-width: 200px;
}

.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-list>.nav-li-item>a {
    color: #8da1b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.button-yellow {
    background-color: #ffa000;
    color: #ffffcf;
    border: none;
    border-radius: 25px;
    padding: 4px 16px;
    font-weight: bold;
    cursor: pointer;
}

.courses {
    display: flex;
    width: 65%;
    gap: 2rem;
    font-size: 14px;
    margin: 0 auto;
}

.courses-title-yellow {
    color: #ffa000;
    font-weight: normal;
    padding: 12px 0;
    margin: 0;
}

.courses-title-blue {
    color: #1b446b;
    padding: 12px 0;
    margin: 0;
    border-bottom: 2px solid #1b446b;
}

.wordpess-data {
    text-align: center;
    color: #ffffcf;
    background-color: #12202d;
    opacity: 0.7;
    padding: 20px;
}

.wordpess-data::before {
    content: url('../Requirements-and-Resources/images/wordpress.png');
    position: absolute;
    left: -20%;
    top: 0;
    transform: scale(70%);
    opacity: 0.9;
}

.wordpress-title {
    font-size: 35px;
    margin: 0;
}

.wordpress-data-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
}

.button-yellow.big {
    padding: 4px 70px;
}

.main-container {
    position: relative;
}

.about-course,
.skills-section,
.course-content,
.more-info,
.lecturer-info {
    width: 65%;
    background-color: #f2f2f0;
    margin: 40px auto 20px;
    padding: 30px;
    text-align: center;
}

.about-title {
    text-align: center;
    margin-top: 0;
    position: relative;
    color: #1b446b;
}

.about-content {
    text-align: start;
    margin-top: 20px;
    line-height: 24px;
}

.about-title::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 3px;
    transform: translateX(-50%);
    background-color: #ffa000;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.skill-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-basis: 50%;
    margin: 0;
}

.skill-item>i {
    color: #ffa000;
}

.themes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding-left: 20px;
}

.themes-list-item {
    background-color: #dadad8;
    flex-basis: 48%;
    text-align: start;
    border-left: 3px solid #1b446b;
}

.themes-list-item-text {
    margin: 10px 0;
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #565655;
}

.themes-list-item-text>span {
    color: #1b446b;
    margin-right: 10px;
}

.course-info {
    background-color: #ffa000;
    color: #ffffcf;
    width: 65%;
    margin: 40px auto 20px;
    padding: 10px 30px;
}

.course-info-title {
    margin: 10px 0 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.course-info-title::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 34%;
    bottom: 0;
    right: 0;
    width: 32%;
    height: 3px;
    background-color: #ffffcf;
}

.course-info-text {
    line-height: 24px;
}

.more-info {
    text-align: start;
    padding-bottom: 0;
}

.more-info-title {
    margin: 0;
    color: #ffa000;
}

.forms-of-studying {
    width: 100%;
    color: #ffffcf;
}

.first-form {
    background-color: #1b446b;
}

.second-form {
    background-color: #ffa000;
}

.form-as {
    display: flex;
    justify-content: space-between;
    padding: 6px 100px 6px 10px;
    line-height: 22px;
    box-shadow: 5px 5px 7px gray;
}

.form-title,
.form-list {
    margin: 0;
}

.lecturer-about-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lecturer-about-info>img {
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
}

.lecturer-name {
    text-align: start;
    margin: 10px 0 0;
    color: #1b446b;
}

.about-article>.about-content {
    margin-top: 8px;
}

.apply-button-section {
    text-align: center;
    margin-bottom: 40px;
}

footer {
    background-color: #112b44;
    padding: 30px 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

.footer-list {
    padding: 0;
    list-style: none;
    flex-basis: 25%;
}

.list-title.yellow-title {
    color: #ffa000;
    font-size: 12px;
    margin-top: 0;
}

.footer-li-item {
    margin: 0;
    padding: 4px 0;
    font-size: 14px;
}

.footer-li-item>a,
.social-media-link>a {
    color: #fffffc;
    text-decoration: none;
}

.social-media-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.social-media-link {
    font-size: 18px;
}

.footer-info-content {
    color: gray;
    font-size: 14px;
    margin: 14px 0;
}