@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.header-page {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
}

.header-page img {
    max-width: 150px;
}

.header-nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-li-item>a {
    text-decoration: none;
    color: #59546c;
    font-weight: bold;
    font-size: 14px;
}

.taxes {
    background: linear-gradient(180deg, #54546d 59%, #fff 50%);
    position: relative;
    height: 600px;
}

.taxes::before {
    content: '';
    background-image: url('./images/calculator-icon.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.courses {
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}