body {
    background-color: #e4e978;
}

article {
    background-color: #e7f4be;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}

section article {
    font-style: italic;
    color: #4c7658;
}