@import url('https://fonts.google.com/specimen/Raleway');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 30px;
}

.header-section {
    background-color: #efefec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}