@import url(https://fonts.google.com/specimen/Poppins);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.green__title {
    color: #8ac455;
}

.article-service {
    background-color: #f7f7f4;
}

.service-button {
    background-color: #8ac455;
    color: #fffffc;
}

.article-info {
    color: #9a9a98;
}