@import url(https://fonts.google.com/specimen/Poppins);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.services-header h1,
.services-header p {
    margin: 0;
}

.services-header p {
    font-size: 12px;
    font-weight: bold;
    color: #9a9a98;
    letter-spacing: 0.5px;
}

.services-header {
    height: 15vh;
}

.green-title {
    color: #8ac455;
}

.articles-section {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.article-service {
    background-color: #f7f7f4;
    width: 20%;
}

.article-content {
    padding: 20px;
}

.article-title {
    margin-top: 0;
}

.service-button {
    background-color: #8ac455;
    color: #fffffc;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    font-weight: bold;
}

.article-img img {
    width: 100%;
    height: 100%;
}

.article-info {
    color: #9a9a98;
    font-size: 14px;
    line-height: 1.5rem;
}