@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('./Media/background.jpg');
    background-repeat: no-repeat;
    background-size: 200% 142%;
    background-position-x: -800px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #e6e3db;
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-li-item>a,
.log-in>a {
    text-decoration: none;
    color: #574935;
}

.header-title {
    color: #574935;
}

.log-in {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-btn {
    background-color: #574935;
    color: #fff;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.search-section {
    position: relative;
}

.search-section>img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.search-field {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-title {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
}

.search-label {
    position: relative;
    padding: 8px;
}

.search-label-text {
    background-color: rgba(255, 255, 255, 0.614);
    border: none;
    width: 80%;
    padding: 8px 0 8px 40px;
}

.search-label>i {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: gray;
}

.recipes-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.recipes-article>img {
    max-width: 700px;
}

.recipes-article {
    margin: 30px;
    display: flex;
    align-items: stretch;
}

.aside-info {
    background-color: #e6e3db;
    width: 100%;
    text-align: center;
    padding: 140px 20px;
}

.aside-title {
    font-size: 40px;
    margin-bottom: 5px;
}

.aside-text {
    margin-top: 0;
    font-size: 34px;
    font-weight: bold;
}

.aside-button {
    background-color: #574935;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
}

.aside-button>a {
    color: #fff;
    text-decoration: none;
}

.cookie-toolbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookie-toolbox-title {
    color: #574935;
    background-color: rgba(255, 255, 255, 0.614);
    padding: 4px 20px;
}

.toolbox-items {
    display: flex;
    gap: 5rem;
    margin-bottom: 40px;
}

.toolbox-item>img {
    max-width: 200px;
}

.toolbox-item-title {
    margin: 0;
    padding: 12px 0 10px;
    background-color: rgba(255, 255, 255, 0.614);
    font-style: italic;
    text-align: center;
    margin-top: -10px;
}

.shop-now-btn {
    background-color: #ff4d19;
    border: none;
    margin-bottom: 40px;
    padding: 6px 70px;
}

.shop-now-btn>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.836);
    padding: 20px;
}

.footer-links {
    display: flex;
}

.footer-li-item {
    list-style: none;
    padding: 0 12px;
}

.footer-li-item:not(.footer-li-item:last-child) {
    border-right: 1px solid rgb(0, 0, 0);
}

.footer-links>.footer-li-item>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}