@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
}