@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #e6e3db;
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-li-item>a,
.log-in>a {
    text-decoration: none;
    color: #574935;
}

.header-title {
    color: #574935;
}

.log-in {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-btn {
    background-color: #574935;
    color: #fff;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.search-section {
    position: relative;
}

.search-section>img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.search-field {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-title {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
}

.search-label {
    position: relative;
    padding: 8px;
}

.search-label-text {
    background-color: rgba(255, 255, 255, 0.614);
    border: none;
    width: 80%;
    padding: 8px 0 8px 40px ;
}

.search-label>i {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: gray;
}