@import url('https://fonts.google.com/specimen/Open+Sans');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 100px auto;
    max-width: 800px;
    border: 1px solid #000;
    border-radius: 5px;
}

.title-section {
    background-color: #001219;
}

.earth-title {
    margin: 0;
    padding: 10px 8px 0;
    font-size: 30px;
    color: #00f3ff;
}

.planet-title {
    margin-top: 0;
    padding: 0 10px 10px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    color: #fffffc;
}

.earth-section {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-bottom: 80px;
}

.earth-content {
    display: flex;
    padding: 30px 18px 25px;
}

.earth-content-img {
    min-width: 288px;
    padding: 6px 18px;
    border: 1px solid #000;
}

.earth-content-img img {
    width: 100%;
}

.earth-content-img figcaption {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 19px;
    color: rgb(22, 22, 22);
}

.earth-info-text {
    padding: 15px 24px 15px 26px;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 27px;
}