@import url('https://fonts.google.com/specimen/Open+Sans');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 700px;
    margin: 100px auto;
    border-radius: 4px;
    border: 3px solid #001219;
}

.title-section {
    background-color: #001219;
}

.earth-title {
    margin: 0;
    padding: 10px 8px 0;
    font-size: 30px;
    color: #00f3ff;
}

.planet-title {
    margin-top: 0;
    padding: 0 10px 10px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    color: #fffffc;
}

.earth-section {
    display: flex;
}

.earth {
    width: 28vw;
    height: 28vw;
    border: 1px solid #001219;
    padding: 6px 10px;
}

.earth-img-text {
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding-left: 2px;
}

.earth>img {
    width: 230px;
    height: 230px;
}