* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 80vh;
}

.container {
    max-width: 65vw;
    border: 1px solid black;
}

.container,
.week,
.notes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.notes,
.week {
    height: 80vh;
}

span {
    border: 1px solid black;
    align-self: stretch;
}

.notes {
    flex-direction: column;
}

.workDay,
.weekendDay,
.workWeek,
.weekend {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.workWeek,
.weekend {
    flex: 1 1 100%;
    font-weight: bold;
}

.workDay,
.weekendDay {
    font-size: 12px;
}

.workDay {
    flex: 1 1 20%;
}

.weekendDay {
    flex: 1 1 50%;
}

.notes>span {
    height: 40vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}