* {
    box-sizing: border-box;
}

body {
    margin: 4.5rem;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

main {
    display: inline-block;
    width: 70%;
}

main>article>img {
    float: right;
    margin: 0 0 0 20px;
}

header {
    border-bottom: 2px solid black;
    width: 100%;
    display: inline-block;
}

header>h2 {
    display: inline-block;
    width: 50%;
    font-size: 40px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: Helvetica;
}

header>nav {
    display: inline-block;
    width: 49%;
    text-align: right;
}

nav.header-nav>ul>li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

header nav ul li {
    margin-left: 30px;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    padding: 8px;
}

h1,
h2,
h3,
blockquote {
    font-family: Georgia, serif;
    font-size: 1.2rem;
}

article {
    margin-bottom: 20px;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 0;
}

section>p {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-right: 10px;
}

blockquote {
    font-style: italic;
    font-size: 1rem;
    border-left: 4px solid lightgray;
    padding-left: 20px;
    width: 100%;
    margin: 0;
    height: 200px;
    display: inline-block;
    height: 100%;
}

blockquote>p{
    text-align: right;
}

aside {
    transform: translateX(50%);
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-top: 30px;
}

article#last>img {
    margin: 0 20px 20px 0;
    float: left;
}

article#last>p#article-first-p {
    width: 60%;
}