@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.main-auto {
    margin: 200px auto;
    max-width: 1200px;
    display: flex;
    justify-content: baseline;
}

.article-title {
    margin-top: 0;
}