@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 200px auto;
    max-width: 1200px;
}

.header-container {
    text-align: center;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 30px;
}

.main-title {
    margin: 0;
    font-size: 20px;
    padding: 0 6px;
    letter-spacing: 1px;
}

.main-content {
    color: #666665;
    margin: 30px 0;
    line-height: 26px;
    word-spacing: 2px;
    font-size: 15.2px;
    padding: 0 0 0 6px;
}

.benefits {
    padding: 0;
    list-style: none;
}

.benefit>img {
    float: left;
    margin-right: 10px;
}

.benefit-title {
    color: #69686c;
    margin-bottom: 0;
}

.benefit-content {
    margin-top: 10px;
    color: #666665;
}