@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .gallery>* {
        width: 100%;
    }

    .wrapper.style2 {
        padding: 1.1rem;
    }

    .wrapper>header h2:after {
        width: 37%;
    }

    .spotlight {
        flex-direction: column;
    }

    .spotlight>* {
        width: 100%;
    }

    .inner>h3,
    .inner>p {
        text-align: center;
    }

    .spotlight .inner {
        padding: 1rem;
    }
}