@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 200px auto;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.about-section,
.offer-section {
    height: 400px;
    flex-basis: 50%;
}

.about-section {
    background-color: #def3fe;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.about-title {
    letter-spacing: 1px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.li-item {
    display: flex;
    align-items: baseline;
    margin: 20px 0;
}

.li-item>i {
    margin-right: 20px;
    color: #27a9ff;
}

.li-content {
    margin: 0;
    font-weight: bold;
    color: #80888b;
    word-spacing: 1px;
}

.offer-section {
    height: 100%;
    border: 4px solid #27a9ff;
    border-radius: 5px;
    text-align: center;
}

.offer-article {
    align-self: center;
    height: 390px;
    padding: 70px 0;
}

.color-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #27a9ff;
}