@media (max-width: 600px) {
    .banner {
        padding: 3em 0 1em;
    }

    .banner h2 {
        width: 92%;
        font-size: 36px;
    }

    .banner p {
        margin: 0px 0 1em 0;
    }

    .wrapper {
        padding: 40px 0 20px;
        position: relative;
        padding-bottom: 0;
    }

    header.major {
        margin-bottom: 1em;
    }

    .wrapper>.inner {
        width: 100%;
    }

    .wrapper>.inner.narrow {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 94%;
    }

    .grid-form {
        flex-direction: column;
        align-items: center;
    }

    .grid-form .form-control {
        width: 80%;
    }

    .grid-form .form-control.narrow {
        width: 92%;
    }

    .grid-form .form-control {
        width: 92%;
    }

    
}