@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

body {
  font-family: Arial, sans-serif;
  line-height: 3px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 5.4px;
  padding-top: 12.6px;
  padding-bottom: 12.6px;
  padding-left: 27px;
  padding-right: 27px;
}

p {
  margin: 40px;
}
i {
  padding-right: 5.4px;
}

#click {
  border-color: green;
  background-color: green;
}

#email {
  border-color: orange;
  background-color: orange;
}
