@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    height: 600px;
    position: relative;
}

.page-header::before {
    content: "";
    background-image: url("./images/hero-certificates.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
}

.header-nav {
    position: absolute;
    width: 90%;
    height: 60px;
    background-color: #fffffc;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav img {
    width: 80px;
    height: 40px;
    flex-basis: 20%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links .nav-link a {
    text-decoration: none;
    color: #26394e;
    font-weight: bold;
    padding: 10px;
}

.page-certificates {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.certificates-img {
    display: flex;
    align-items: baseline;
}

.certificates-info {
    background-color: #26394e;
    color: #fffffc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    flex-basis: 50%;
    position: relative;
}

.certificates-info-title {
    margin-top: 0;
}

.certificates-text-content {
    font-size: 1.05em;
}

.pos-abs {
    position: absolute;
    color: #26394e;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    bottom: -60px;
    left: 0;
}

.certificates-img img:first-child {
    height: 270px;
}

.main-container {
    padding: 60px 0;
}

.about-diploma {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
}

.about-dimploma-title {
    text-align: center;
}

.about-text-diploma {
    background-color: #f4f5f5;
    padding: 10px 20px;
    color: #26394e;
    font-weight: bold;
    line-height: 24px;
    word-spacing: 1px;
    font-size: 18px;
    position: relative;
}

.about-text-abs {
    position: absolute;
    bottom: -60px;
    left: 0;
    font-size: 16px;
}

.apply-section {
    position: relative;
    margin: 100px auto;
    width: 90%;
    height: 280px;
}

.apply-section::before {
    content: "";
    background-image: linear-gradient(rgba(53, 63, 85, 0.322), rgba(95, 128, 199, 0.411)),
        url("./images/sign-up-prompt-background.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.apply-article {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #f4f5f5;
}

.apply-title {
    font-size: 28px;
    margin: 0;
}

.apply-text-info {
    font-weight: bold;
    margin-bottom: 40px;
    word-spacing: 2px;
padding: 0 270px;
}