@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.page-header {
    background-image: url('./images/hero-certificates.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
    filter: blur(5px) ;
}