@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-header::before {
    content: "";
    background-image: url("./images/hero-certificates.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
}

.header-nav {
    position: absolute;
    width: 90%;
    height: 60px;
    background-color: #fffffc;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav img {
    width: 80px;
    height: 40px;
    flex-basis: 20%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links .nav-link a {
    text-decoration: none;
    color: #26394e;
    font-weight: bold;
    padding: 10px;
}

.page-certificates {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.certificates-img {
    display: flex;
    align-items: baseline;
}

.certificates-info {
    background-color: #26394e;
    color: #fffffc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    flex-basis: 50%;
    position: relative;
}

.certificates-info-title {
    margin-top: 0;
}

.certificates-text-content {
    font-size: 1.05em;
}

.pos-abs {
    position: absolute;
    color: #26394e;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    bottom: -60px;
    left: 0;
}

.certificates-img img:first-child {
    height: 270px;
}

.main-container {
    padding: 60px 0;
}

.about-diploma {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
}

.about-dimploma-title {
    text-align: center;
}

.about-text-diploma {
    background-color: #f4f5f5;
    padding: 10px 20px;
    color: #26394e;
    font-weight: bold;
    line-height: 24px;
    word-spacing: 1px;
    font-size: 18px;
    position: relative;
}

.about-text-abs {
    position: absolute;
    bottom: -60px;
    left: 0;
    font-size: 16px;
}

.apply-section {
    position: relative;
    margin: 100px auto 0;
    width: 90%;
    height: 280px;
}

.apply-section::before {
    content: "";
    background-image: linear-gradient(rgba(53, 63, 85, 0.322), rgba(95, 128, 199, 0.411)),
        url("./images/sign-up-prompt-background.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.apply-article {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #f4f5f5;
}

.apply-title {
    font-size: 28px;
    margin: 0;
}

.apply-text-info {
    font-weight: bold;
    margin-bottom: 40px;
    word-spacing: 2px;
    padding: 0 270px;
}

.apply-actions {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.apply-btn {
    border-radius: 5px;
    border: none;
}

.light-button {
    padding: 10px 30px;
    color: #25abff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 45px;
}

.apply-actions::after {
    content: "";
    height: 35px;
    width: 1px;
    background: white;
    position: absolute;
    right: 50%;
}

.transparent-button {
    background-color: transparent;
    border: 1px solid #fffffc;
    color: #fffffc;
    padding: 10px 30px;
    cursor: pointer;
}

footer {
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid #26394e;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo-footer {
    display: flex;
    gap: 1rem;
    flex-basis: 30%;
    align-items: center;
}

.page-logo-footer img {
    max-width: 150px;
}

.copyright-footer {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.footer-links {
    display: flex;
}

.footer-nav-list,
.social-media-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footer-nav-item>a,
.social-media>a {
    text-decoration: none;
    color: #26394e;
    font-weight: bold;
}
