* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(243, 241, 241, 0.582);
}

header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}

header>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header>section>h2 {
    font-family: serif;
    color: #d10067;
    font-size: 40px;
    letter-spacing: 1px;
}

header>section>p {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}

header>nav>ul {
    display: flex;
}

header>nav>ul>li {
    list-style: none;
    margin: 0 20px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
}

section#need__a__website {
    width: 60vw;
    height: 20vh;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#need__a__website>article {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

section#need__a__website>i {
    font-size: 120px;
    text-align: center;
    width: 30%;
}

section#need__a__website>article>h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 30px;
    margin: 10px 0;
}

section#need__a__website>article>p {
    font-family: monospace;
    font-weight: bold;
}

section#need__a__website>article>button {
    background-color: rgba(243, 241, 241, 0.582);
    border-radius: 3px;
    font-size: 12px;
    margin: 15px 0;
    cursor: pointer;
}

section.our__team {
    width: 60vw;
    height: 70vh;
    margin: 20px auto;
}

section.our__team>h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 30px;
    margin: 10px;
}

section.our__team>hr {
    width: 10%;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 4px;
}

section.team__members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}

section.team__members>article {
    width: 30%;
    text-align: center;
}

section.team__members>article>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(238, 237, 237);
    box-shadow: 0 0 5px gray;
}

section.team__members>article>div.team__member__info {
    margin: 20px;
}

section.team__members>article>div.team__member__info>h3 {
    font-weight: bolder;
}

section.team__members>article>p.team__member__about {
    font-style: italic;
    font-size: 14px;
}
