@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5e4df;
    margin: 0;
}

.furniture-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff3700;
}

.nav-li-items {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.li-item {
    margin: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.search {
    display: flex;
}

.search-field {
    background-color: #fff;
    color: gray;
    padding: 6px 20px;
    width: 300px;
    border: 1px solid gray;
}

.search i {
    padding: 8px 22px;
    background-color: gray;
    font-size: 12px;
    color: #fff;
}

.user-acount {
    color: #fff;
    margin-right: 30px;
}

.user-acount i {
    margin-right: 6px;
}

.rooms-furniture {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.furniture-room {
    max-width: 300px;
    max-height: 300px;
}

.furniture-room img {
    width: 100%;
    height: 100%;
}

.furniture-room-title {
    color: gray;
    text-align: center;
    margin: 10px;
    font-size: 16px;
}

.new-collection {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 20px auto;
    width: 95%;
}

.new-collection-img {
    max-width: 700px;
    max-height: 500px;
}

.new-collection-img img {
    width: 100%;
    height: 100%;
}

.new-collection-title {
    color: #ff3700;
    font-size: 40px;
    margin: 20px 0 0;
}

.new-collection-text {
    margin-top: 10px;
    color: gray;
}

.new-shop-now {
    background-color: #ff3700;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.benefits {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #cdc3c0;
    width: 90%;
    padding: 40px;
}

.benefit-article {
    text-align: center;
}

.benefit-article img {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    background-color: #f5e4df;
    border-radius: 50%;
}

.benefit-title {
    margin: 10px 0;
}

.benefit-info {
    margin: 0;
    color: gray;
}

footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    padding: 0;
}

.footer-li-item a,
.contact-us-span {
    color: gray;
    font-size: 14px;
}

.footer-li-item:first-child a {
    font-weight: bold;
    font-size: 16px;
}

.contact-us {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.call-btn {
    background-color: #cdc3c0;
    border: none;
}