@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Open+Sans');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.anipat-header {
    background-color: #fffffc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation {
    width: 50%;
    display: flex;
}

.header-navigation .list-items {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}