@media (max-width: 600px) {
    .container-fluid.hero>img {
        display: none;
    }

    #home {
        text-align: center;
    }

    .container {
        text-align: center;
    }

    .navbar {
        justify-content: center;
    }


}