@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
}

.blog-header {
    position: relative;
}

.map-img img {
    max-height: 700px;
    width: 100%;
}