@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
}

.blog-header {
    background-image: url('./images/map.jpg');
    height: 600px;
    background-position: center;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.header-nav img {
    max-width: 50px;
}

.log {
    color: #fff;
}

.log-in {
    margin-right: 10px;
}

.start-now {
    text-align: center;
    margin: 200px 50px 0;
}

.start-now-title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 0;
    text-shadow: 2px 2px rgba(12, 12, 12, 0.906);
}

.start-now-button {
    color: #fff;
    background-color: #0065a3;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.articles {
    margin: 30px auto;
    display: flex;
    width: 50%;
}

.pick-article {
    max-width: 400px;
    max-height: 400px;
}

.pick-article img {
    width: 100%;
    height: 100%;
}

.side-articles {
    max-width: 300px;
}

.side-articles article img {
    width: 100%;
    height: 100%;
}

.plan-article {
    max-height: 200px;
}

.articles-title {
    width: 50%;
    color: gray;
    text-align: center;
    margin-left: 30px;
}

.articles .pick-article,
.plan-article,
.budget-article {
    position: relative;
    color: #fff;
}

.article-title {
    position: absolute;
    text-shadow: 2px 2px rgba(12, 12, 12, 0.906);
    letter-spacing: 1px;
}

.articles .pick-article .article-title {
    top: 20px;
    left: 100px;
}

.plan-article .article-title {
    font-size: 14px;
    left: 10px;
}

.budget-article .article-title {
    bottom: 0;
    left: 10px;
}

footer {
    background-color: #8c8c8a;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.info-about-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.info-about-item:not(.info-about-item:last-child) {
    border-right: 2px solid lightgray;
    padding-right: 10px;
}