@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
}

.blog-header {
    background-image: url('./images/map.jpg');
    height: 600px;
    background-position: center;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.header-nav img {
    max-width: 50px;
}

.log {
    color: #fff;
}

.log-in {
    margin-right: 10px;
}

.start-now {
    text-align: center;
    margin: 200px 50px 0;
}

.start-now-title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 0;
    text-shadow: 2px 2px rgba(12, 12, 12, 0.906);
}

.start-now-button {
    color: #fff;
    background-color: #0065a3;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}