*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wirework-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wirework-title-conten {
    display: flex;
}

.header-navigation .header-list {
    display: flex;
    list-style: none;
}

.navigation-li-item {
    background-color: #ecece9;
    color: black;
    padding: 10px 12px;
    margin-left: 1px;
    font-size: 14px;
}

.navigation-li-item:first-child {
    background-color: #ff4e0c;
    color: #ecece9;
}

.wirework-title-content {
    display: flex;
    align-items: baseline;
}

.wirework-title {
    padding: 0 20px;
    border-right: 2px solid gray;
}

.wirework-title-next {
    font-size: 12px;
    margin-left: 20px;
}

.main-img {
    width: 100%;
}

.main-img img {
    object-fit: cover;
    width: 100%;
    max-height: 600px;
}

.wirework-about {
    background-color: #ff4e0c;
    margin-top: -20px;
    color: #ecece9;
    padding: 40px 240px;
    text-align: center;
    line-height: 26px;
}

.benefits {
    background-color: #383837;
    padding: 60px;
}

.benefits .benefits-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    gap: 1.4rem;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.benefit-item i {
    font-size: 30px;
    color: #ecece9;
    background-color: #ff4e0c;
    padding: 20px;
    border-radius: 2px;
}

.benefit-title {
    color: #ecece9;
    margin: 0;
    padding: 18px 0;
}

.benefit-about {
    border-top: 2px solid #a2a2a0;
    color: #a2a2a0;
    margin-top: 0;
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
}

.benefit-item:first-child .benefit-about {
    margin-top: 20px;
}

.etiam-posuere {
    text-align: center;
    padding: 50px 0;
}

.etiam-title {
    color: #383837;
    font-size: 30px;
    margin: 10px 0;
}

.etiam-text-content {
    color: #a2a2a0;
    margin-top: 0;
}

.etaiam-button {
    background-color: #009789;
    color: #ecece9;
    font-weight: bold;
    padding: 12px 34px;
    font-size: 16px;
    border: none;
}

.wirework-info {
    background-color: #383837;
}

.wirework-info-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 50px 40px;
    text-align: center;
}

.info-item-title {
    color: #ecece9;
}

.info-item-content {
    color: #848484;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;
}