@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0 60px;
    padding: 0;
}

.header-body {
    color: #fff;
    position: relative;
}

.header-body>img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 99.2%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.669), rgba(128, 128, 128, 0.331));
    text-shadow: 1px 2px 2px #000000;
}

.section-header-content.cart {
    cursor: pointer;
}

.main-container {
    margin-top: -4px;
}

.main-hd-title {
    font-size: 45px;
    margin-bottom: 0;
}

.art-info-text {
    width: 29%;
    margin: 30px auto 50px;
}

.art-info-btn {
    background-color: #93f1e7;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #93f1e7;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    cursor: pointer;
}

.art-info-btn:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.main-header-article>a {
    color: #fff;
    text-decoration: none;
}

.hdr-nav {
    display: flex;
    justify-content: space-around;
}

section {
    height: 500px;
}

.hustle-art-title {
    margin: 14px 0 10px;
    font-size: 34px;
}

.hustle-art-info {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 24px;
}

.hustle-list-sec {
    display: flex;
    gap: 5rem;
}

.hustle-list-sec>img {
    width: 50%;
}

.hustle-list {
    padding: 0;
    list-style: none;
}

.hustle-li-item>i {
    color: #00d0b4;
    font-size: 20px;
    margin-right: 30px;
}

.hustle-li-item {
    margin: 20px 0;
    font-size: 20px;
}

.hustle-case {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.hustle-case>img {
    width: 50%;
}

.hustel-art-mini>img {
    width: 100px;
    height: 100px;
}

.hustles-arts {
    display: grid;
    gap: 1rem;
    grid-template: 150px / auto auto auto;
}

.hustle-case-art .hustle-art-title {
    text-align: center;
    margin: 30px 0 40px;
}

.hustles-arts {
    margin: 0 auto;
}

.hustle-case-art {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hstl-art-title {
    color: #00d0b4;
    font-size: 18px;
    margin: 0;
}
