@import url('https://fonts.google.com/specimen/Lato');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.advantages-container {
    margin: 100px auto;
    max-width: 1000px;
}

.advantage-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f5f5;
    margin-bottom: 4px;
}

article:first-of-type {
    border-radius: 10px 0 0 0;
}

article:last-child {
    border-radius: 0 0 10px 10px;
}