@import url('https://fonts.google.com/specimen/Lato');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.advantages-container {
    margin: 100px auto;
    max-width: 1000px;
    position: relative;
}

.advantages-title {
    display: block;
    position: absolute;
    right: 0;
    top: -67.5px;
    padding: 10px 20px;
    background-color: #23abff;
    color: #fff;
    font-weight: normal;
    border-radius: 10px 10px 0 0;
}

.advantage-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f5f5;
    margin-bottom: 2px;
}

article:first-of-type {
    border-radius: 10px 0 0 0;
}

article:last-child {
    border-radius: 0 0 10px 10px;
}