section {
    margin-left: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

h1 {
    font-size: 28px;
}

.italic {
    font-style: italic;
}

.font-size {
    font-size: 24px;
}